html {
	font-family: Alike;
	height: 47.75em;
	width: 93.75em;
	margin: auto;
}

body {
	height: 40em;
	width: 88em;
	margin: 2.5% auto;
}

header {
	position: relative;
	height: 1.25em;
	width: 10em;
	text-align: center;
	margin: auto;
	font-weight: bold;
	font-size: 3.5em;
}

#mainContainer {
	position: relative;
	margin: auto;
	width: 79em;
	height: 35em;
}

#leftContainer {
	position: relative;
	width: 19.75em;
	height: 31em;
	margin: auto;
	float: left;
	text-align: center;
}

#boardContainer {
	position: absolute;
	align-self: center;
	left: 22.2em;
	width: 35em;
	height: 31em;
	margin: auto;
}

#rightContainer {
	position: relative;
	width: 19.75em;
	height: 31em;
	margin: auto;
	float: right;
	text-align: center;
}

#turnDisplay {
	position: relative;
	width: 26em;
	margin: auto;
	text-align: center;
}

.wins {
	position: relative;
	height: 100%;
	width: 100%;
	margin: auto;
	font-size: 2em;
}

#board {
	position: relative;
	width: 26em;
	height: 26em;
	display: grid;
	grid-gap: 0;
	margin: 1em auto;
	grid-template-columns: repeat(3, 8.6em );
	grid-template-rows: repeat(3, 8.6em );
}

.squares {
	width: 8.6em;
	height: 8.6em;
	box-sizing: border-box;
	text-align: center;
	border: 0.125em solid black;
}

.squareContent {
	position: relative;
	height: 100%;
	width: 100%;
	font-size: 6.5em;
	margin: auto;
	color: rgb(0, 0, 0);
}

#btnContainer {
	position: relative;
	align-self: center;
	height: 3.5em;
	width: 9.8em;
	margin: auto;
}

.buttons {
	display: none;
	position: relative;
	font-size: 1.5em;
	height: 100%;
	width: 100%;
	margin: auto;
}

.animation {
	animation-name: gameOver;
	animation-iteration-count: infinite;
	animation-duration: 10s;
	transition: transform 6s;
	transform: rotate(360deg);
}

@keyframes gameOver {
	0%   {background-color: red;}
	10%  {background-color: tomato;}
	20%   {color: chartreuse;}
	30%  {background-color: yellow;}
	40%   {background-color: dodgerblue;}
	50%  {background-color: blue;}
	60%   {color: lime;}
	70%   {background-color: mediumseagreen;}
	80% {background-color: green;}
	90%   {background-color: orangered;}
	100%   {background-color: red;}
}

.transform {
	transition: width 2s, height 2s, transform 8s;
	transform: rotate(720deg);
}

#square1 { border-style: none solid solid none; border-width: medium; }
#square2 { border-style: none solid solid solid; border-width: medium; }
#square3 { border-style: none none solid solid; border-width: medium; }
#square4 { border-style: solid solid solid none; border-width: medium; }
#square5 { border-style: solid solid solid solid; border-width: medium; }
#square6 { border-style: solid none solid solid; border-width: medium; }
#square7 { border-style: solid solid none none; border-width: medium; }
#square8 { border-style: solid solid none solid; border-width: medium; }
#square9 { border-style: solid none none solid; border-width: medium; }
