html {
	font-family: Alike;
	min-height: 95%;
	min-width: 95%;
	margin: auto;
}

body {
	height: 95%;
	width: 95%;
	margin: 2.5% auto;
}

header {
	position: relative;
	height: 1.25em;
	width: 10em;
	text-align: center;
	margin: auto;
	font-weight: bold;
	font-size: 3.5em;
}

#mainContainer {
	position: relative;
	margin: auto;
	width: 90%;
	height: 88%;
}

#leftContainer {
	position: relative;
	width: 25%;
	height: 31em;
	margin: auto;
	float: left;
	text-align: center;
}

#boardContainer {
	position: absolute;
	left: 27.5%;
	width: 44%;
	height: 31em;
	margin: auto;
}

#rightContainer {
	position: relative;
	width: 25%;
	height: 31em;
	margin: auto;
	float: right;
	text-align: center;
}

#turnDisplay {
	position: relative;
	width: 26em;
	margin: auto;
	text-align: center;
}

.wins {
	position: relative;
	height: 100%;
	width: 100%;
	margin: auto;
	font-size: 2em;
}

#board {
	position: relative;
	width: 26em;
	height: 26em;
	display: grid;
	grid-gap: 0;
	margin: 1em auto;
	grid-template-columns: repeat(3, 33%);
	grid-template-rows: repeat(3, 33%);
}

.squares {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	text-align: center;
	border: 2px solid black;
}

.squareContent {
	position: relative;
	height: 100%;
	width: 100%;
	font-size: 6.5em;
	margin: auto;
	color: rgb(0, 0, 0);
}

#playerDisplay {
	margin: .5em auto;
}


#btnContainer {
	position: relative;
	height: 3.5em;
	width: 9.8em;
	margin: auto;
}

#newGameBtn {
	display: none;
	position: relative;
	font-size: 1.5em;
	height: 100%;
	width: 100%;
	margin: auto;
}

#square1 { border-style: none solid solid none; border-width: medium; }
#square2 { border-style: none solid solid solid; border-width: medium; }
#square3 { border-style: none none solid solid; border-width: medium; }
#square4 { border-style: solid solid solid none; border-width: medium; }
#square5 { border-style: solid solid solid solid; border-width: medium; }
#square6 { border-style: solid none solid solid; border-width: medium; }
#square7 { border-style: solid solid none none; border-width: medium; }
#square8 { border-style: solid solid none solid; border-width: medium; }
#square9 { border-style: solid none none solid; border-width: medium; }
