.boardLayout {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 40em;
	height: 40em;
	display: grid;
	margin: auto;
}

.squares {
	display: block;
	width: 25%;
	height: 25%;
	border: 1px solid black;
	box-sizing: border-box;
	text-align: center;
	font-size: 8em;
}
